In [2]:
import pandas as pd

In [6]:
path = "F:\Mini projects\Text Classifier\Mini-Projects\data\SMSSpamCollection.csv"

df = pd.read_csv(path, sep='\t', names=['label', 'message'])
    
# Convert labels to binary by mapping the target variable
df['label'] = df['label'].map({'ham': 0, 'spam': 1})

In [7]:
df.head(5)

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...